<h2>Todo一覧</h2>
  <% @todos.each do |t| %>
    <%= t.do %>
    <%= link_to "詳細", todo_path(@todos) %>
    <%= link_to "編集", edit_todo_path(@todos) %>
    <%= link_to "削除", todo_path(@todos) %><br>
  <% end %>
<h2>Todo作成</h2>
  <%= form_with model: @todo do |form| %>
  <%= form.text_field :do %>
  <%= form.submit %>
  <% end %>
